*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: xx-large;
    font-family: 'Rubik Bubbles';
    background:url("https://c0.wallpaperflare.com/preview/871/274/395/wall-texture-background-white.jpg") no-repeat fixed;
    background-size: cover; 
    text-align: center;
    align-content: center;
}


.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}
#buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: wrap;
    order: 1;
    justify-content: space-evenly;
    margin-top: 50px;
}

#buttons > div{
    border: 5px outset rgba(106,115,164,0.78);
    background-color: white;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}
#buttons > div:nth-child(1){
    margin-right: 5px;
}

#buttons > div:nth-child(3){
    margin-left: 5px;
}

.scoreContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    margin: 40px 0px 0px 0px; 
    order: 3;
    color: #A40000;
}

.scoreContainers > div{
    border: 2px outset rgba(106,115,164,0.78);
    text-align: center;
    border-radius: 10px;
}

.winners {
    order: 2;
    margin-top: 15px;
    text-align: center;
    min-height: 50px;
}

p{
    margin-top: 10px;
}

.ReButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 4;
    margin-top: 20px;
}

#ReButton {
    color: white;
    font-size: 50px; 
    line-height: 25px; 
    padding: 20px; 
    border-radius: 10px; 
    font-family: 'Rubik Bubbles', cursive;
    font-family: 'Teko', sans-serif;
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: radial-gradient(at center center, rgb(68, 73, 2) 0%, rgb(64, 68, 26) 0%, rgb(55, 53, 9) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(255, 255, 255); 
    display: inline-block;
    visibility: hidden;
    min-height: 50px;
    min-width: 100px;
}
    
#ReButton:hover {
    background: #444902; 
}

#ReButton:active {
    background: #373509; 
}
/* Media queries from here on */

@media only screen and (max-width: 1000px){
    .scoreContainers{
        width: 75%;
    }

    img{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 790px) {
    h1{
        font-size: 50px;
    }
}

@media only screen and (max-width: 670px) {
    img{
        width: 175px;
        height: 175px;
    }

    .scoreContainers{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    img{
        width: 75px;
        height: 75px;
    }
    h1{
        font-size: 25px;
    }
    .scoreContainers{
        width: 99%;
        font-size: 15px;
        margin: 100px 0px 0px 0px;
    }
    .winners{
        font-size: 10px;
    }
    #buttons {
        margin-top: 120px;
    }
}